[user]
	name = AG
	email = AG@miMac.lan
	signingKey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAILP1MgdIzOQPN8r9wniNXlhTIHNl80PkvXXpvsZbVesJ
[gpg]
	format = ssh
[gpg "ssh"]
	program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
[commit]
	gpgsign = true
[core]
#	pager = diff-so-fancy | less -RFXMx4
	untrackedCache = true
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[submodule]
	recurse = true
	fetchJobs = 0
[rebase]
	autoStash = true
[alias]
	patch = apply --ignore-space-change --ignore-whitespace
[init]
	defaultBranch = main
[help]
	autocorrect = 1
# [url "git@github.com:"]
#	insteadOf = https://github.com/
# [url "git@gist.github.com:"]
#	insteadOf = https://gist.github.com/
